.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
_bookdown_files
docs/Environmental-Dynamics-Workbook_files/
docs/.DS_Store
docs/*.html
docs/*.json
docs/libs/
enviro_dynamics_workbook.Rproj 
'Environmental Dynamics Workbook.rds' 

